@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100..800&family=Roboto+Slab&display=swap');
:root {
    --heading-color: #000000;
    --paragraph-color: #140303;
    --link-color: #007bff; 
    --hero-background: url('images/river-wide2.jpeg') no-repeat center center/cover; 
    --article-background: rgba(235, 204, 204, 0.685); 
    --heading-font:'Roboto Slab';
    --paragraph-font:'Glory';
}

/* Styling headings and paragraph elements */
h2 {
    color: var(--heading-color);
    font-family: var(--heading-font);

}
h1{
    font-family: var(--heading-font);
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

p {
    color: var(--paragraph-color);
    font-family:var(--paragraph-font) ;
}

/* Adding colors to fonts */
a {
    color: var(--link-color);
}

/* Remove underlines from social media links */
footer .sociallinks a {
    text-decoration: none;
}

/*------------------ABOUT PAGE-----------*/
body {
    max-width: 100%;
    margin: 0 auto;
}

/* Positioning the hero img */
main img {
    max-width: 100%; /* Establece el ancho máximo para que las imágenes se ajusten al ancho del cuerpo */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    display: block; /* Asegura que las imágenes se muestren una debajo de la otra */
    margin-bottom: 20px; /* Agrega un espacio entre las imágenes */
}

.header{
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr 2fr 30px;
    align-items: center;
    border: 2px solid #0453a7;
    max-width: 100%;
    background-color: rgba(116, 179, 245, 0.47);
}

.header img{
    height: 100px;

}

.imagen1{
    width: 100%;
}



/* Positioning the hero section */
.hero {
    position:relative;
    background: var(--hero-background);
    top: 2px;

}

.hero-para{
    margin: 10px auto;
    position: relative;
    right: -10px;
    height: 50px;
    font-size: 20px;
}
/* Establecer el mismo ancho a todas las imágenes dentro de la sección */

.History h2{
    display: block;
  position: absolute;
  top: 70%;
}
.History p{
    position:relative;
  margin: 20px;
  font-size: 20px;
}
.History{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    font-family: var(--heading-font);
    font-size: 120%;
    color: var(--nav-link-color);
    text-decoration: orange;
    padding: 0.3rem;
}

.navigation a:hover{
    background-color: rgb(255, 214, 120);
}


.navigation{
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%; 
}

/* Positioning h1 and article elements on top of the hero image */
.hero h1{
    position: absolute;
    top:10%;
    left: 645px;
    align-content: center;
   
}

.hero article {
    position: absolute;
    top: 220px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: var(--article-background);
    opacity: 0.9; /* Adjust the opacity as needed */
    width: 70%; /* Adjust the width as needed */
    height: 140px;
}

/* Floating img inside the article */
.hero article img {
    float: left;
    margin-left: 10px;
    width: 20%;
    top: 5%;
}
.clase1 h2{
    margin-left:2%;
}

.clase1{
    background-color: rgba(116, 179, 245, 0.47);
}

.fotos{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    
   
}
.fotos img {
    max-width: 100%; /* Cambiado a 100% para que las imágenes se ajusten al contenedor */
    height: 170px; /* Permite que la altura se ajuste automáticamente según el ancho */
    border: 1px solid; /* Se mantiene el borde */
   
}


.employee-profile-figcaption {
    background-color: #050505c2;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 1px;
    text-align: center; /* Centra el texto dentro de los elementos figcaption */
}



/* Additional styling for footer */
footer {
    background-color: rgba(116, 179, 245, 0.47); /* Adjust as needed */
    padding: 20px;
    text-align: right;
}

/*----------Contact Page--------------*/
.header{
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr 2fr 30px;
    align-items: center;
    border: 2px solid #0453a7;
    max-width: 100%;
    background-color: rgba(116, 179, 245, 0.47);

    background-image: url(../images/8888.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}

.header img{
    height: 100px;

}

nav a {
    font-family:'Roboto Slab';
    font-size: 120%;
    color: var(--nav-link-color);
    text-decoration: orange;
}

.navigation a:hover{
    background-color: rgb(255, 214, 120);
}

.navigation{
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%; 
}

body {
    max-width: 100%;
    margin: 0 auto;
}
.caja img{
    max-width: 250px;
    max-height: 100px;
    border-radius: 50% ;

}

.caja{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    place-items:center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 1rem;
    font-family: Glory,Helvetica, sans-serif;
    color: rgb(0, 0, 0);

}

form{
    background-color: #ffffff;
    display: grid;
    grid-template-columns:5fr 3fr ;
}

.column1{
    display: grid;
    
    margin: 0.5rem;
    padding: 1rem;
    border: 5px solid rgb(32, 63, 64);
    border-radius: 5px;
    place-items:center;
    font-size: 1.5rem;
    font-family:Glory,Helvetica, sans-serif;
    background-color: cadetblue;
}

h2{
    font-family:'Roboto Slab';
    font-size:2.8rem;
}

.column2{
    display: grid;
    margin: 0.5rem;
    padding: 1rem;
    border: 5px solid cadetblue;
    border-radius: 5px;
    font-size: 1rem;
    font-family: Glory,Helvetica, sans-serif;
    
}
.company h1{
    font-family:'Roboto Slab';
    font-size:2rem;
    color: rgb(0, 0, 0);
}

footer{
    border-top: 1px solid grey;
    color: rgba(116, 179, 245, 0.47);
    font-family: Glory,Helvetica, sans-serif;
}


.parrafo{
    display:flex;
    justify-content:center;
    color:rgb(0, 0, 0);
    font-size: 0.9rem;

}
.sociallinks {
    text-decoration: none;
    display:flex;   
}
.sociallinks img{
    width: 25px;
    margin-right: 8px;   
}
button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border:none;
    border-radius: 5rem;
    padding: .75rem;
    font-size: 1.2rem;
    font-family: Roboto Slab;
}

button:hover{
    background-color: darkgreen;
}

.hero {
    position:relative;
    background: var(--hero-background);
    top: 2px;
}
.hero article {
    position: absolute;
    top: 220px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: var(--article-background);
    opacity: 0.9; /* Adjust the opacity as needed */
    width: 70%; /* Adjust the width as needed */
    height: 140px;
}
.hero-para{
    margin: 10px auto;
    position: relative;
    right: -10px;
    height: 50px;
    font-size: 20px;
}


.hero article img {
    float: left;
    margin-left: 10px;
    width: 20%;
    top: 5%;
}

.hero h1{
    position: absolute;
    top:10%;
    left: 645px;
    align-content: stretch;
   
}

/*--------------------Hoja de Trips----------------------*/
.container{
    display: flex;
    justify-content: center;
    background-color: #BFD7D9;
    margin-top: 1%;
}
.titulo{
  text-align: center;
}

h3{
    font-family:'Roboto Slab' ;
}
.titulo a{
    text-decoration: none;
    font-family:'Roboto Slab';
    color:#1c3564;
    font-size: 1.3rem;
    font-family: var(--heading-font);
}

.titulo button:hover{
    background-color: darkgreen; 
}
.trip {
    margin-bottom: 20px;
    border: 2px solid #07484B;
    margin: 5px;
    padding: 10px;
    max-width: 60vh;  
}

.trip p {
    text-align:justify;
}
    
.trip img{
    max-width: 50vh;
    
}
 .titulo2{
    text-align: left;
    margin: 10px;

    grid-column: 1; /* Ocupa las dos columnas */
    grid-row: 1; /* En la fila 1 */
 }

 .Tabla{
  
  display: grid;
  grid-template-columns: 6fr 4fr; /* Dos columnas de ancho automático */
  grid-template-rows: 2fr 5fr; /* Dos filas de altura automática */
  margin: 15px;
}
.Tabla p {
    grid-column: 2; /* En la columna 2 */
    grid-row: 1 / span 2; /* Ocupa dos filas */
    margin: 5px;
    font-size: 1.4em;
    align-self:center;
    
}

table {
   width: 80%;
    border-collapse:collapse;
    font-family: var(--paragraph-font);
    margin: 10px;
    padding: 1rem;
    grid-column: 1; /* En la columna 1 */
    grid-row: 2; /* En la fila 2 */

}
        
th, td {
    border: 2px solid #4d7ba1;
    padding: 8px;
    text-align: left;
    
 }

 footer{
    border-top: 1px solid grey;
    color: rgba(116, 179, 245, 0.47);
    font-family: Glory,Helvetica, sans-serif;
}
footer p{
    
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 0.9rem;
}

/*-------------------------Hoja HOME--------------------------*/
.part1{
    display: flex;
    
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */

}
.parte1-2 {
    text-align: center;  
}

.parte1-2 img{
    width: 100vw; /* Establece el ancho de la imagen al 100% del ancho del contenedor */
    height: 40vw; /* Mantiene la proporción de aspecto de la imagen */ 
}
.parte2{
    display: flex;
    justify-content: center;   
    /*background-color: rgb(64, 62, 156);*/
   

   
}

.formulario1 {
   font-family: var(--paragraph-font);
    margin: 10px;
    padding: 20px;
    border: 2px solid cadetblue;
    width: 30%;  
    display: grid;
    grid-template-columns: 2fr 2fr;
    
}


.formulario1 label{
   text-align: right;
    padding-right: 1rem;
    grid-column:1 ;
    font-size: 1.5rem; 
}

.formulario1 input{
    text-align: left;
    width: 20vh;
    font-size: 1rem;
    margin-bottom: 0.9rem;
    grid-column: 2;
    
    
}

.botom{
    grid-column: 1/span 2;
    margin-top: 15px;
    text-align: center;
}

.parte3{
    display: grid;
    
   
}
.parte3 h2{
    text-align: center;
}
.columnas{
    display:grid;
    justify-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    /*background-color: #9fbcf3;*/
    background-color:#edf6f9;
    margin-bottom: 3vh;
    
}
.testimonios1{
    width: 50%;
    margin-bottom: 20px;
    margin: 20px;
    padding: 15px;
    text-align: center;
    font-size: 1.3rem;
    
   
}
.testimonios2{
    width: 50%;
    margin-bottom: 20px;
    margin: 20px;
    padding: 15px;
    text-align: center;
    font-size: 1.3rem;
    
}

.testimonios1 img{
    max-width: 45%;
    grid-column: 2;
    border: 2px solid cadetblue;
}
.testimonios2 img{
    max-width: 45%;
    border: 2px solid cadetblue;
}
.testimonios1 img, .testimonios2 p{
    grid-row: 3;
}

.oferta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    background-color: rgb(247, 233, 157);
}

.oferta img{
    max-width: 50vh;  
    grid-column: 1;
    grid-row: 1;
}
.oferta p{
    grid-column: 3;
    grid-row: 1;
    font-size: 1.5rem;
    margin-top: 100px;
    padding: 0.5rem;
}
