@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Roboto&display=swap');

:root{

  --primary-color:  #1F5673;
  --secondary-color: #90C3C8;
  --accent1-color: #F6F3F7;
  --accent2-color: #FAA916;

  --heading-font:'Roboto',serif;
  --paragraph-font: 'Montserrat',serif;

  --nav-background-color:var(--primary-color);
  --nav-link-color: var(--secondary-color);
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: var(--accent2-color);
  
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--heading-font);
  color: var(--primary-color)
}

header{
  padding: 20px;
  background-color: var(--accent1-color);
}

p{ 
  padding: 25px;
}

nav{
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}